<h1>Below is the list of posts for a user</h1>
<%= render 'shared/_user', user: @user %>
<% if @posts.any? %>
    <div>
        <% @posts.each do |post| %>
            <div class="border">
                <h2>Post #<%= post.id %></h2>
                <p><%= post.title %></p>
                <p>
                    <%= post.text %>
                </p>
                <%= render 'shared/_count-likes-comments', post: post %>
            </div>
            <%= render 'shared/_five-recent-comments', comments: post.five_most_recent_comments %>
        <% end %>
    </div>
    <% else %>
    <p>
        No posts yet.
    </p>
<% end %>
