<h1>Post #<%= @post.id %> Below is the details of a post: Comments and Likes</h1>
<article class="post">
  <div class="owner-details">
  <h3 class="post-owner"><%= @post.title %>  by <%= @post.user.name %></h3>
  <div class="post-stats">
    <span>Comments: <%= @post.comments_counter %> &nbsp;,&nbsp;</span>
    <span>Likes: <%= @post.likes_counter %></span>
  </div>
  </div>
  <p><%= @post.text %></p>
</article>
<ul class="comments-ul">
  <% @post.recent_comments.each do |comment| %>
    <li><%= comment.user.name %>: <%= comment.text %>
  <% end %>
</ul> 
