<h1>Below is the details of a post: Comments and Likes</h1>
<article class="post">
  <div class="owner-details">
  <h3 class="post-owner"><%= @post.title %>  by <%= @post.user.name %></h3>
  <div class="post-stats">
    <span>Comments: <%= @post.comments_counter %> &nbsp;,&nbsp;</span>
    <span>Likes: <%= @post.likes_counter %></span>
  </div>
  </div>
  <p><%= @post.text %></p>
</article>

<% if can? :destroy, @post %>
  <%= button_to "Delete", user_post_path(post_id: @post.id), method: :delete, data: {
    turbolinks: false,
  } %>
<% end %>
<br />
<%= form_for @like, url:post_likes_path(@post) do |f| %>
  <%= f.hidden_field :user_id, value: @post.user_id %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.button nil, class: "like_btn" do %>
    <i class="fa-solid fa-thumbs-up"></i>
  <% end %>
  <% end %>

<ul class="comments-ul">
  <% @post.recent_comments.each do |comment| %>
    <li><%= comment.user.name %>: <%= comment.text %>
    <br>
    <% if can? :destroy, comment %>
      <%= button_to "Delete", post_comment_path(id: comment.id, post_id: @post.id), method: :delete, data: {
        turbo: false,
      } %>
    <% end %>
  <% end %>
</ul> 


<h5>Add comment</h5>
<%= form_for @comment, url:post_comments_path(@post) do |f| %>
  <%= f.hidden_field :user_id, value: @post.user.id %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.label :text %><br />
  <%= f.text_area :text, placeholder:'What are your thoughts on this post?' %><br />
  <%= f.submit "Submit comment", class:"see-all-post-btn", disable_with: 'Submiting Comment...' %>
<% end %>
